*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/logonew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    clip-path: circle();
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: white;
    font-size: 15px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li button{
   font-size: 1rem;
   border: none;
   outline: none;
   padding: 10px;
   background-color: red;
   color: white;
}
.nav-links ul li::after{
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background: #f44336;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;  
}
.header .login-form{
  position: absolute;
  top: 115%; right: -105%;
  background: white;
  box-shadow: .5rem;
  width: 35rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.2rem;
  color: black;
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box{
  font-size: 1.5rem;
  margin: .7rem 0;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  color: black;
  text-transform: none;
  width: 100%;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}
.headcontainer{
display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mydiv{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  padding-top: 60px;
}
 .mydiv img{
 
  max-width: 100%;
  width: 300px;
  height: 300px;
  margin-right: 80px;
  clip-path: circle();
  float: right;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header .headcontainer .text-box{
    max-width: 50rem;
  }
  
.header .headcontainer .text-box h3{
    font-size: 62px;
  }
  
  .header .headcontainer .text-box p{
    font-size: 14px;
    color: white;
    margin: 10px 0 14px;
  }
  .btn{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    color: #12c2b9;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: max-content;
    border: .1rem solid #12c2b9;
    background: #dbfffe;
    padding: 1.2rem 4.5rem;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    bottom: 100%; left: 50%;
    transform: translateX(-50%);
    width: 200%; height: 200%;
    border-radius: 50%;
    background-color: #12c2b9;
    transition: 500ms ease;
    z-index: -1;
  }
  
  .btn .text{
    transition: 250ms ease;
  }
  
  .btn .text-2{
    position: absolute;
    top: 100%; left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: #dbfffe;
  }
  
  .btn:is(:hover, :focus-visible)::before{
    bottom: -50%;
  }
  
  .btn:is(:hover, :focus-visible) .text-1{
    transform: translateY(-4rem);
  }
  
  .btn:is(:hover, :focus-visible) .text-2{
    top: 50%;
    transform: translate(-50%, -50%);
  }

  nav .fa{
    display: none;
  }
@media(max-width: 700px){
    .header .text-box h3{
        font-size: 20px;
      }
      .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

.subjects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.subjects h1{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
}

.subjects p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.subjects .box-container{
    margin: 0%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  }
  
  .subjects .box-container .box{
    flex-basis: 31%;
    padding: 10px 12px;
    text-align: center;
    border: 10px solid #12c2b9;
    background: #dbfffe;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .subjects .box-container .box:hover{
    background: #12c2b9;
  }
  
  .subjects .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
  }
  
  .subjects .box-container .box h3{
    font-size: 1.7rem;
    color: #444;
    padding: .5rem 0;
    text-transform: capitalize;
  }
  
  .subjects .box-container .box:hover h3{
    color: #fff;
  }
  
  .subjects .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  
  .subjects .box-container .box:hover p{
    color: #eee;
  }

  .subjects .box-container .box .course-btn
  {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
.subjects .box-container .box .course-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
@media(max-width: 700px){
    .subjects .box-container{
        flex-direction: column;
    }
}

.clubs{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.clubcontainer{
  min-height: 720px;
  width: 100%;
  background-color: #12c2b9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
.clubcontainer h2{
  color: #eee;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}
.clubcontainer h2::after{
  position: absolute;
  content: " ";
  top: 8px;
  left: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid red;
}
.clubcontainer h2::before{
  position: absolute;
  content: " ";
  top: 8px;
  right: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid red;
}
.clubcontainer #paragraph{
  width: 40%;
  font-size: 1rem;
  color: #dbfffe;
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 40px;
  text-transform: uppercase;

}
.cards{
  margin: 0%;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.cards .card{
  height: 280px;
  width: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 8%;
  background: #666;
  position: relative;
  border-radius: 10px;
  background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%,#ff2770 50%);
  animation: animate 4s linear infinite;
}
@property --a{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate{
  0%{
    --a: 0deg;
  }
  100%{
    --a:100deg;
  }
}
.cards .card::before{
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: red;
  transform: rotate(0deg);
  z-index: -1;
}
.cards .card:hover .card::before{
  transform: rotate(10deg);
}
.cards .card img{
  font-size: 2.5rem;
  color: red;
  margin-top: 40px;
  margin-bottom: 10px;
}
.cards .card h3{
  font-size: 1.8rem;
  color: black;
  margin-bottom: 10px;
}
.cards .card .content p{
  color: black;
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 20px;

}

.reachus{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  min-height: 10vh;
  background-image: url(images/contact.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.reachus h1{
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
}
.reachus .one{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.reachus .two{
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 400px;
  gap: 20px;
  
border: 1px solid black;
align-items: center;
margin: auto;
margin-top: 50px;
background: transparent;
box-shadow: inset -5px -5px rgba(0,0,0,0.5);
border-radius: 25px;

}
.reachus .three h2{
  font-weight: 600;
  color: red;
  font-size: 40px;
  margin-bottom: 5px;
}
.reachus .three hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 20px;
}
.reachus .four{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.reachus .four:focus{
  border: 2px solid #ff994f;
}
.reachus .four::placeholder{
  color: #a9a9a9;
}
.reachus .two button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: #ff994f;
  cursor: pointer;
}


.blog{
  width: 97%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.blog .heading{
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 5px;
}
.blog .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  padding-top: 50px;
  padding-bottom: 100px;
  
}

.blog .box-container .box{
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.blog .box-container .box .image{
  height: 15rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 1rem 1rem 0 0;
}

.blog .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog .box-container .box:hover .image img{
  transform: scale(1.1);
}

.blog .box-container .box .image h3{
  font-size: 1.5rem;
  color: red;
  position: absolute;
  top: 1.5rem; left: 1rem;
  padding: .5rem 1.5rem;
  background: transparent;
  border-radius: 2rem 0 2rem 0;
}

.blog .box-container .box .content{
  padding: 2rem 2rem;
  background: #dbfffe;
  border-radius: 0 0 2rem 2rem;
}

.blog .box-container .box .content h3{
  font-size: 2rem;
  color: black;
}

.blog .box-container .box .content p{
  font-size: 1.1rem;
  color: black;
  line-height: 2;
  padding: 1rem 0;
}

.contact{
  padding-top: 10px;
}
.contact .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  
}

.contact .row .image{
  flex: 1 1 40rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form{
  flex: 1 1 40rem;
  border: 0.1rem solid var(rgb(112, 112, 251));
  padding: 2rem;
}

.contact .row form h3{
  font-size: 2.5rem;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box{
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem 1.4rem;
  border: .1rem solid var(rgb(112, 112, 251));
  margin: .7rem 0;
}

.contact .row form .box:focus{
  color: var(rgb(112, 112, 251));
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}

/* ends */

/* footer */

.footer{
  background: rgb(244, 122, 122);
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: rgb(3, 3, 82);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color: black;
  line-height: 2;
  padding: 1rem 0;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  border: .1rem solid rgb(3, 3, 82);
  color: rgb(3, 3, 82);
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: rgb(3, 3, 82);
  color: white;
}

.footer .box-container .box .link{
  font-size: 1.7rem;
  line-height: 2;
  color: black;
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover{
  color: rgb(3, 3, 82);
  text-decoration: underline;
}

.footer .credit{
  font-size: 2rem;
  margin-top: 3rem;
  padding-top: 3rem;
  text-align: center;
  color: black;
  border-top: .1rem solid rgb(52, 82, 3);
}

.footer .credit span{
  color: rgb(52, 82, 3);}
/* ends */

/* media queries */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 4rem;
  }

  section{
    padding: 3rem 2rem;
  }

}

.aboutus{
  width: 97%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2f2f2;
}
.aboutus .heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.aboutus .heading h1{
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}
.aboutus .heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;

}
.aboutus .heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
  padding-bottom: 1px;
}
.aboutus .container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.aboutus .about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.aboutus .about-img{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  
}
.aboutus .about-img img{
  max-width: 100%;
  width: 500px;
  height: 400px;
  display: block;
  transition: 0.5s ease;
}
.aboutus .about-img:hover{
  transform: scale(1.2);
}
.aboutus .about-content{
  flex: 1;
}
.aboutus .about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.aboutus .about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
.aboutus .about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}
.aboutus .about-content .read-more:hover{
  background-color: #328e41;
}